In [1]:
import sqlite3

In [5]:
def main():
    db = sqlite3.connect("test.db")
    db.execute("drop table if exists test")
    db.execute("create table test (t1 text, i1 int)")
    db.execute("insert into test (t1, i1) values(?, ?)", ("one", 1))
    db.execute("insert into test (t1, i1) values(?, ?)", ("two", 2))
    db.execute("insert into test (t1, i1) values(?, ?)", ("three", 3))
    db.execute("insert into test (t1, i1) values(?, ?)", ("four", 4))
    db.execute("insert into test (t1, i1) values(?, ?)", ("five", 5))
    db.execute("insert into test (t1, i1) values(?, ?)", ("six", 6))
    db.commit()
    cursor = db.execute("select * from test order by t1")
    for row in cursor:
        print(row)
if __name__ == "__main__": main()

('five', 5)
('four', 4)
('one', 1)
('six', 6)
('three', 3)
('two', 2)

In [9]:
db = sqlite3.connect("test.db")
cursor = db.execute("select i1,  t1 from test order by t1")
for row in cursor:
    print(row)

(5, 'five')
(4, 'four')
(1, 'one')
(6, 'six')
(3, 'three')
(2, 'two')

In [13]:
db = sqlite3.connect("test.db")
db.row_factory = sqlite3.Row
cursor = db.execute("select i1,  t1 from test order by t1")
for row in cursor:
    print(dict(row))

{'i1': 5, 't1': 'five'}
{'i1': 4, 't1': 'four'}
{'i1': 1, 't1': 'one'}
{'i1': 6, 't1': 'six'}
{'i1': 3, 't1': 'three'}
{'i1': 2, 't1': 'two'}